node_modules
.next
dist
.turbo
.DS_Store

# python
.venv
.venv-lg
__pycache__/
*.pyc

# env
.env
.env.local
.env.*.local
.dev.vars
**/.dev.vars

# logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

